
.row {
    display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media all and (max-width: 620px) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-left: 0.7rem;
      margin-right: 0.7rem;
  }
}
.card {
    width: 300px;
    max-width: 100%;
    background: #E9ECEF;
    margin-top: 2rem;
    // height: 600px;
}

// .card + .card {
//     margin-left: 2rem;
// }

.card__body {
  
}

.card__h5 {
    text-align: center;
    font-size: 2rem;
}

.card__p {
    text-align: center;
    font-size: 1.5rem;
    color: blue;
    background: #e6e6e6;
    padding: 0.3rem;
    
}

.card__img {

}